.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  height: 250px;
  width: 100%;
  padding: 20px;
  position: relative;
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
  position: relative;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-top: -5px;
}

.closeButton {
  position: absolute;
  right: 0;
  background: url('assets/icons/common/close.svg') no-repeat center;
  background-size: contain;
  width: 20px;
  height: 20px;
  filter: invert(20%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(90%);
  cursor: pointer;
  transition: filter 0.3s ease;
}

.closeButton:hover {
  filter: invert(40%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(70%) contrast(90%);
}

.content {
  font-size: 16px;
  color: #555;
  margin: 0 auto;
}

.content__inner {
  position: absolute;
  top: calc(50% - 20px);
  left: 50%;
  transform: translate(-50%, -50%);

  width: 60px;
}

.error {
  color: red;
}
