.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: start;
  position: relative;
  text-align: start;
  padding-bottom: 25px;
}

.img {
  max-width: 220px;
  max-height: 150px;
}

.wrapper:hover .img {
  transition: transform 1s;

  transform-origin: bottom right;
  transform: rotate(-2deg);
}

.inner {
  display: flex;
  gap: 15px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.infoTitle {
  font-weight: 600;
}
.title {
  font-size: 36px;
  font-weight: 600;
}

.title {
  font-size: 40px;
  color: white;
  transition: color 0.5s ease, background 0.5s ease;
  background: transparent;
  background-clip: text;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.8));
}

.wrapper:hover .title {
  color: transparent;
  background: linear-gradient(45deg, #6a5acd, #dda0dd);
  -webkit-background-clip: text;
  background-clip: text;
}

.openBtn {
  position: absolute;
  bottom: 0;
  right: 0;
}

.openBtnInner {
  display: flex;
  gap: 10px;
  color: #9b9fa0;
  align-items: center;
}

.openBtnInner:hover {
  color: #b9bbbb;
}

.btnIcon {
  width: 20px;
  transform: translateY(2px);
}
