.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: start;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  flex-grow: 1;
  text-align: start;
}

.input:not(:first-child) {
  margin-bottom: 10px;
}
