.rccs {
  margin-top: 15px;
  width: 400px;
}
.rccs__card {
  width: 400px;
  height: 240px;
}

/* .rccs__expire__valid {
  display: none;
  visibility: hidden;
} */

/* .rccs--filled.rccs__expiry {
  display: none;
  visibility: hidden;
} */
