/* .rccs {
  width: 380px;
}
.rccs__card {
  width: 380px;
  height: 230px;
} */

/* .rccs__expire__valid {
  display: none;
  visibility: hidden;
} */

/* .rccs--filled.rccs__expiry {
  display: none;
  visibility: hidden;
} */
