.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  gap: 15px;
}

.top {
  display: flex;
  gap: 20px;
  padding-top: 40px;
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  .top {
    flex-direction: column-reverse;
  }
}

.img {
  max-width: 300px;
  max-height: 300px;
  width: 100%;
}

.title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.returnBtn {
  position: absolute;
  top: 0;
  left: 0;
}

.returnBtnInner {
  display: flex;
  gap: 10px;
  color: #9b9fa0;
  align-items: center;
}

.returnBtnInner:hover {
  color: #b9bbbb;
}

.btnIcon {
  width: 20px;
  transform: translateY(2px);
}

.preview {
  width: 100%;
}
