.navbar {
  display: flex;
  gap: 20px;
  align-items: center;
}

.link {
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
}

.link:hover {
  transition: background 0.3s;
  background-color: #f2f3f7;
}
