.cardLayout {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.cardLayout.light {
  background-color: #fff;
  transition: 1s;
}

.cardLayout.dark {
  background-color: #5c6e80;
  transition: 1s;
}
