.promo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
  align-items: start;
}

.promoTop {
  display: flex;
  justify-content: space-between;
  gap: 18px;
}

.logo2 {
  width: 70px;
  height: 70px;
  flex: 1 0 auto;
}

.logo2 img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.promoTopText {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.promoTitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 16px;
}

.promoSubtitle {
  color: #9b9fa0;
  font-size: 14px;
}

.promoApps {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.promoApp {
  max-width: 200px;
  cursor: pointer;
}
