.emptyCard {
  width: 380px;
  height: 230px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 230px;
  border-radius: 10px;
}

.card.light {
  background-color: #f2f3f7;
  transition: 1s;
}

.card.dark {
  background-color: #1e2022;
  transition: 1s;
}

.add {
  width: 35px;
}

@media (max-width: 700px) {
  .emptyCard {
    width: 240px;
    height: 150px;
  }
  .card {
    width: 240px;
    height: 150px;
  }
  .add {
    width: 25px;
  }
}
