.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #f2f3f7;
}

.title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
  /* color: #9b9fa0; */
}

.subtitle {
  font-size: 16px;
}

.field {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.regCheck {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  width: 100%;
  justify-content: center;
}

.linkText {
  border-bottom: 1px solid #333542;
}

.linkText:hover {
  color: gray;
  border-bottom: 1px solid gray;
}

.returnBtnInner {
  display: flex;
  gap: 10px;
  color: #9b9fa0;
  align-items: center;
}

.returnBtnInner:hover {
  color: #b9bbbb;
}

.btnIcon {
  width: 20px;
  transform: translateY(2px);
}

.required {
  position: relative;
}

.required::after {
  content: '*';
  position: absolute;
  color: red;
  padding-left: 1px;
}

.errors {
  margin-bottom: 10px;
}
