.wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  min-height: 100%;
  overflow-y: visible;
}
.wrapper.light {
  background-color: #f2f3f7;
  transition: 1s;
}

.wrapper.dark {
  background-color: #2c3741;
  transition: 1s;
  color: #fff;
}

.main {
  display: flex;
  gap: 25px;
  max-width: 1230px;
  padding: 0 15px;
  width: 100%;
  flex-grow: 1;
}

.section {
  width: 100%;
}
