.wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  background-color: #f2f3f7;
}

.main {
  display: flex;
  gap: 25px;
  max-width: 1230px;
  padding: 0 15px;
  width: 100%;
}

.section {
  width: 100%;
}
