.filters {
  display: flex;
  justify-content: space-between;
  text-align: start;
  align-items: end;
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, opacity 0.3s ease-out;
  opacity: 0;
}

.filters.open {
  max-height: 80px;
  opacity: 1;
}

.filters.open.delayed {
  overflow: visible;
}

.filters:not(.delayed) {
  overflow: hidden;
}

@keyframes addDelay {
  from {
    overflow: hidden;
  }
  to {
    overflow: visible;
  }
}

.filters.open {
  animation: addDelay 0.5s forwards;
}

.group {
  max-width: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: -2px;
}

.amount {
  max-width: 80px;
}

.sort {
  max-width: 100px;
}
