.wrapper {
  position: relative;
  color: #fff;
}

.isImg {
  padding-right: 200px;
}

.inner {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 15px;
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.title {
  font-size: 28px;
  font-weight: 600;
}

.img {
  position: absolute;
  right: 10px;
  bottom: -10px;
  max-width: 200px;
  max-height: 80px;
  height: 100%;
}

.btnClose {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 40px;
  padding: 10px;
  transform-origin: top right;
  transform: rotate(180deg);
}
