.navList {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  border-radius: 10px;
  text-align: start;
}

.navList.light {
  background-color: #f2f3f7;
  transition: 1s;
}

.navList.dark {
  background-color: #5c6e80;
  transition: 1s;
}

.leaveBtn {
  padding: 7px 10px 7px 50px;
  text-align: left;
}
