.partnersList {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: start;
}

.list {
  margin-top: 40px;
}

.partner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}
