.button {
  cursor: pointer;
  width: 160px;
  height: 50px;
  border-radius: 5px;
  color: #fff;
  background-color: #20be69;
  font-weight: 600;
  font-size: 14px;
}

.button:hover {
  background-color: #3bca7e;
}
.button:active {
  background-color: #0eb35b;
}

.button:disabled {
  background-color: #87a193;
}
